*,
html,
body {
  margin: 0;
  padding: 0;
}
body {
  background: url(../img/about_bg.jpg) no-repeat center;
  height: 100vh;
  background-size: cover;
}
.head {
  height: 19vh;
}
.color-nav {
  opacity: 1;
  color: #fff200;
}
.item {
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
  background: none;
  color: #fff200;
  font-size: large;
}
.textinf {
  display: flex;
  justify-content: start;
  align-items: start;
  height: 10vh;
  color: yellow;
  font-size: 50px;
  text-shadow: #000000 1px 0 10px;
}
.texti {
  display: flex;
  justify-content: start;
  align-items: start;
  color: #f2ff00;
  text-shadow: #000000 10px 0 10px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-none {
  color: #fff200;
  text-decoration: none;
}
.footersize {
  height: 100%;
  width: 100%;
  padding-top: 35px;
}
.nav {
  background-color: gray;
}
.h {
  height: 15vh;
}
.myimg {
  width: 100%;
  border-radius: 100%;
  border: 5px solid black;
}
.ani:hover {
  animation-name: menuAnimation;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  color: green;
}
.ani:not(:hover) {
  animation-name: menubackAnimation;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  color: #fff200;
}
@keyframes menuAnimation {
  from {
    color: #fff200;
  }
  to {
    color: green;
  }
}
@keyframes menubackAnimation {
  from {
    color: green;
  }
  to {
    color: #fff200;
  }
}
@media screen and (max-width: 1396px) {
  .myimg {
    width: 100%;
    border-radius: 100%;
    border: 5px solid black;
  }
  .textinf {
    display: flex;
    justify-content: start;
    align-items: start;
    height: 10vh;
    color: yellow;
    font-size: 43px;
    text-shadow: #000000 1px 0 10px;
  }
}
@media screen and (max-width: 1203px) {
  .myimg {
    width: 100%;
    border-radius: 100%;
    border: 5px solid black;
  }
  .textinf {
    display: flex;
    justify-content: start;
    align-items: start;
    height: 10vh;
    color: yellow;
    font-size: 40px;
    text-shadow: #000000 1px 0 10px;
  }
  .texti {
    display: flex;
    justify-content: start;
    align-items: start;
    color: #f2ff00;
    text-shadow: #000000 10px 0 10px;
  }
  body {
    background: url(../img/about_bg.jpg) no-repeat center;
    height: 100vh;
    background-size: cover;
  }
}
@media screen and (max-width: 991px) {
  .myimg {
    width: 100%;
    border-radius: 100%;
    border: 5px solid black;
  }
  .textinf {
    display: flex;
    justify-content: start;
    align-items: start;
    height: 15vh;
    color: yellow;
    font-size: 50px;
    text-shadow: #000000 1px 0 10px;
  }
  .texti {
    display: flex;
    justify-content: start;
    align-items: start;
    color: #f2ff00;
    text-shadow: #000000 10px 0 10px;
  }
  body {
    background: url(../img/about_bg.jpg) no-repeat center;
    height: 165vh;
    background-size: cover;
  }
}
@media screen and (max-width: 570px) {
  .myimg {
    width: 100%;
    border-radius: 100%;
    border: 5px solid black;
  }
  .textinf {
    display: flex;
    justify-content: start;
    align-items: start;
    height: 20vh;
    color: yellow;
    font-size: 50px;
    text-shadow: #000000 1px 0 10px;
  }
  .texti {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f2ff00;
    text-shadow: #000000 10px 0 10px;
  }
  body {
    background: url(../img/about_bg.jpg) no-repeat center;
    height: 130vh;
    background-size: cover;
  }
}
@media screen and (max-width: 430px) {
  .myimg {
    width: 100%;
    border-radius: 100%;
    border: 5px solid black;
  }
  .textinf {
    display: flex;
    justify-content: start;
    align-items: start;
    height: 20vh;
    color: yellow;
    font-size: 50px;
    text-shadow: #000000 1px 0 10px;
  }
  .texti {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f2ff00;
    text-shadow: #000000 10px 0 10px;
  }
  body {
    background: url(../img/about_bg.jpg) no-repeat center;
    height: 150vh;
    background-size: cover;
  }
}
